* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.menu-icon{
    margin: 200px auto;
    width: 140px;
    height: 140px;
    cursor: pointer;
    position: relative;
}

.menu-icon span {
    background-color: black;
    height: 20px;
    position: absolute;
    width: 100%;
    left:0;
    transition: all 0.3s ease;
    
}

.menu-icon span:first-child{
    top:0;
}

.menu-icon span:nth-child(2){
    top: 60px;
}

.menu-icon span:last-child{
    top: 120px;
}

.menu-icon:hover span:nth-child(2){
    opacity: 0;
}

.menu-icon:hover span:first-child,
.menu-icon:hover span:last-child{
    top: 60px;
    background-color: red;
}



/* In This Point You can Comment The Next Code To See Another Effect Before Continue  */

.menu-icon:hover span:first-child{
    transform: rotate(45deg);
}
.menu-icon:hover span:last-child{
    transform: rotate(135deg);
}